$font-Arial: Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
$font-ArialBlack: 'Arial Black', 'Helvetica CY', 'Nimbus Sans L' sans-serif;
$font-ComicSans: 'Comic Sans MS', 'Monaco CY', cursive;
$font-Courier: 'Courier New', 'Nimbus Mono L', monospace;
$font-Georgia: Georgia, 'Century Schoolbook L', Serif;
$font-Impact: Impact, 'Charcoal CY', sans-serif;
$font-LucidaConsole: 'Lucida Console', Monaco, monospace;
$font-LucidaSans: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
$font-Palatino: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
$font-Tahoma: Tahoma, 'Geneva CY', sans-serif;
$font-TimesNew: 'Times New Roman', 'Times CY', 'Nimbus Roman No9 L', serif;
$font-Trebuchet: 'Trebuchet MS', 'Helvetica CY', sans-serif;
$font-Verdana: Verdana, 'Geneva CY', 'DejaVu Sans', sans-serif;

$font-base-size: 16px;
$font-base-lh: 1.5;
$font-family: $font-Trebuchet;

$color-bg: #fff;
$color-text: #000;
$color-link: red;
$color-link-hover: blue;

$btn-line-heigh: 1.25;
$form-line-height: 1.25;
