doctype html
html(lang='en')
  include head.pug

  body
    main.page
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit.
        strong Quae
        |
        | beatae mollitia, sunt ea dolorum saepe hic provident illum. Voluptatum aliquid libero tempore ad qui, laborum cupiditate. Mollitia vel quisquam iure.
        |
        i Lorem
        |
        | ipsum dolor sit amet consectetur adipisicing elit. Nihil asperiores dicta non ratione. Placeat voluptas iste, sint ratione dolore suscipit distinctio nihil, earum adipisci ipsam provident totam accusamus libero perspiciatis.
      p
        h1 Title 1
        h2 Title 2
        h3 Title 3
        h4 Title 4
        h5 Title 5
        h6 Title 6
      p
        a(href='#') Link
      p
        input(type="text")
      p
        select
          option Text 1
          option Text 2
          option Text 3
      p
        textarea(rows="3")
      p
        button(type="button") Button
